div{
	color:blue;
}

h2{
	color:green;
}

.area {
	fill:red;
}

 .IND1.AN { fill : #70DBDB ; } 
 .IND1.AP { fill : #87CEFF; } 
 .IND1.ARP { fill : #87CEFF; } 
 .IND1.AS { fill : #50A6C2; } 
 .IND1.BI { fill : #00B2EE; } 
 .IND1.CG { fill : #BFEFFF; } 
 .IND1.CH { fill : #87CEEB; }
 .IND1.DNH { fill : #539DC2; } 
 .IND1.DD { fill : #A4D3EE; } 
 .IND1.DE { fill : #B0E2FF; } 
 .IND1.GO { fill : #9BC4E2; }
 .IND1.GU { fill : #4F94CD; } 
 .IND1.HA { fill : #62B1F6; } 
 .IND1.HP { fill : #60AFFE; } 
 .IND1.JH { fill : #60AFFE; }
 .IND1.JK { fill : #499DF5; } 
 .IND1.KA { fill : #60AFFE; } 
 .IND1.KE { fill : #6D9BF1; } 
 .IND1.LA { fill : #7093DB; }
 .IND1.MP { fill : #436EEE; } 
 .IND1.MH { fill : #4876FF; } 
 .IND1.MN { fill : #E6E8FA; } 
 .IND1.MZ { fill : #838EDE; }
 .IND1.NA { fill : #8F8FBC; } 
 .IND1.OR { fill : #D9D9F3; } 
 .IND1.PC { fill : #7171C6; } 
 .IND1.PJ { fill : #6666FF; }
 .IND1.RA { fill : #AAAAFF; } 
 .IND1.SI { fill : #8470FF; }
 .IND1.TN { fill : #6600FF; } 
 .IND1.TR { fill : #0BB5FF; }
 .IND1.UP { fill : #C1F0F6; }
 .IND1.UT { fill : #6183A6; }
 .IND1.WB { fill : #4876FF; }